*.suo
*.user
*.ReSharper
_ReSharper*
*.docstates
*.sln.DotSettings
*.dotCover
*.orig
bin/
obj/
Debug/
Release/
ClientBin/
*.ncrunch*
*crunchsolution*
TestResult.xml
TAGS
specfailures.html
integrationspecfailures.html
*.log
*.creds
